@font-face {
  font-family: spaceFont;
  src: url(andromeda.ttf);
}

@font-face
{
font-family: spaceFont2;
  src: url(Astrobia.ttf);
}

@font-face {
  font-family: futuretext;
  src: url(Dosis-Regular.ttf);
}

@font-face {
  font-family: futuretext2;
  src: url(Jura-Regular.ttf);
}


:root {
  --main-white-color: rgb(240, 255, 255);
  --main-dark-color: rgb(18, 34, 48);
  --main-dark-grey: rgb(37, 62, 90);
  --main-grey-blue: rgb(83, 146, 204);
  --main-light-blue: rgb(135, 206, 250);
  --main-med-grey: rgb(62, 87, 122);
  --main-light-grey: rgb(100, 127, 171);
  --main-grey-purple-color: rgb(159, 164, 190);
  --main-purple-color: rgb(216, 194, 242);
  
  --main-white-colorO1: rgb(240, 255, 255, .95);
  --main-dark-colorO1: rgb(18, 34, 48, .95);
  --main-dark-greyO1: rgb(37, 62, 90, .85);
  --main-grey-blueO1: rgb(83, 146, 204, .9);
  --main-light-blueO1: rgb(135, 206, 250, .9);
  --main-med-greyO1: rgb(62, 87, 122, .85);
  --main-light-greyO1: rgb(100, 127, 171, .85);
  --main-grey-purple-colorO1: rgb(159, 164, 190, .85);
  --main-purple-colorO1: rgb(216, 194, 242, .9);
  
   --main-white-colorO2: rgb(240, 255, 255, .85);
  --main-dark-colorO2: rgb(18, 34, 48, .8);
  --main-dark-greyO2: rgb(37, 62, 90, .75);
  --main-grey-blueO2: rgb(83, 146, 204, .8);
  --main-light-blueO2: rgb(135, 206, 250, .8);
  --main-med-greyO2: rgb(62, 87, 122, .75);
  --main-light-greyO2: rgb(100, 127, 171, .75);
  --main-grey-purple-colorO2: rgb(159, 164, 190, .75);
  --main-purple-colorO2: rgb(216, 194, 242, .8);
  
  --main-font: spaceFont;
  --main-font2: futuretext2;
  /*--main-font2: verdana, geneva, sans-serif;*/
}

/*
--main-white-color: azure;
  --main-dark-color: #122230;
  --main-dark-grey: #253E5A;
  --main-grey-blue: rgb(83, 146, 204);
  --main-light-blue: lightskyblue;
  --main-med-grey: #3E577A;
  --main-light-grey: #647FAB;
  --main-grey-purple-color: #9FA4BE;
  --main-purple-color: #D8C2F2;

*/


/* ---------------------------------------------------- all pages ------------------------------------------------------*/

body 
{
  background-image: url("galaxyimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--main-dark-color);
  height: 500px; /* You must set a specified height */
  background-position: center;
}

.input_text+p
{
  color: var(--main-white-color);
  background-color: var(--main-dark-colorO2);
  padding: 15px;
  margin: 25px 100px 25px 100px;
  border-radius:5px;
  font-family: var(--main-font2);
  
}

.input_text+p:hover
{
 background-color: var(--main-dark-colorO1);
}


img.person_image 
{
  margin-top: 10px;
  margin-bottom: 30px;
  height: 110px;
  width: 80px;
  padding: 10px;
  position: relative;
  left: -20;
  dsplay: block;
  float: left;
  
}

person_info:nth-child(1):after
{ 
    display: block;  
    clear: both;
}

.username:not(table .username)
{
 /*text-align: center;*/
 color: var(--main-white-colorO1);
 text-shadow: 0px 0px 10px black;
 font-family: var(--main-font2);
  position: absolute;
  top: 200px;
  left: -80;
 /*clear: left;*/
}

.username:hover
{
  color: var(--main-light-blue);
}

.username svg, .username .account_form
{
  clear: left; 
}

tr, th, td
{
  text-align: center;
  padding: 30px 20px 10px 20px;
  color: var(--main-white-color);
  text-shadow: 0px 0px 10px black;
  font-family: var(--main-font2);
  font-size: 150%
}

[class*="header"]
{
  margin-top: 60px;
  margin-left: 100px;
  font-family: var(--main-font);
}

h1
{
 color: var(--main-white-colorO1);
 /*margin-left: 300px;/*
 /*text-align: center;*/
 font-size: 500%;
 text-shadow: 0px 0px 10px black;
 font-family: var(--main-font);
  position: absolute;
  left: 50%;
  top: 100px;
 /*display: inline;*/
}

h1:hover
{
  color: var(--main-light-blueO1);
}

h2, h3, h4, h5, h6, p, [class="assignment_title"], [class*="assignment_prompt"]
{
 color: var(--main-white-color);
 margin-left: 50px;
 text-shadow: 0px 0px 10px black;
 font-family: var(--main-font2);
}

h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, [class="assignment_title"]:hover, [class*="assignment_prompt"]:hover
{
  color: var(--main-light-blue); 
}

[class="nav"] {
  text-align: center;
  background-color: var(--main-grey-blueO2);
  
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  z-index:1000;
}

[class="nav"]:hover
{
  background-color: var(--main-grey-blueO1);
}

[class*="nav"] a
{
   padding-left: 30px;
   padding-right: 30px;
}




/* --------------------------------------------- Home page -------------------------------------------------*/

.username {
  color: var(--main-white-color);
}

div.partners
{
  color: var(--main-white-color); 
  display: inline;
}

/* day boxes */


.assignment_label
{
  display: inline; 
}

.reading_box
{
 display: inline; 
}

.notes
{
  float: left;
}

[class*="day-box PREP"] 
{
  /*#D8C2F2*/
  background-color: var(--main-purple-colorO2);
  padding: 15px;
  margin: 25px 100px 25px 100px;
  border-radius:5px;
  font-family: var(--main-font2);
  clear: left;
}

[class*="day-box PREP"]:hover
{
  background-color: var(--main-purple-colorO1);
}

[class*="day-box CURRENT"] 
{
  background-color: var(--main-white-colorO2);
  padding: 15px;
  margin: 25px 100px 25px 100px;
  border-radius:5px;
  font-family: var(--main-font2);
}

[class*="day-box CURRENT"]:hover
{
  background-color: var(--main-white-colorO1);
}


.day {
  font-size: 150%;
  font-weight: bold;}

[class*="day-box COMPLETED"] 
{
  /*lightskyblue*/
  background-color: var(--main-light-blueO2);
  padding: 15px;
  margin: 25px 100px 25px 100px;
  border-radius:5px;
  font-family: var(--main-font2);
}

[class*="day-box COMPLETED"]:hover
{
   background-color: var(--main-light-blueO1);
}

[class*="assignment-title"] 
{
  display: inline;
}


[class*=href]
{
  padding-left: 50px;
  padding-right: 50px;
}


[class="nav"]>a:link {
  color: var(--main-white-color);
}

/* visited link */
[class="nav"]>a:visited {
  color: var(--main-white-color);
}

/* mouse over link */
[class="nav"]>a:hover {
  color: var(--main-purple-color);
}

/* selected link */
[class="nav"]>a:active {
  color: var(--main-light-blue);
}



/* ----------------------------------------------------- myAccount page ---------------------------------------------*/

[class="account_form"]
{
  display: block;
  color: var(--main-white-color);
  text-align:left; 
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  column-count: 2;
  column-gap: 200px;
  font-family: var(--main-font2);
}

.account_form>label
{
  padding: 30px;
}

.account_form label, .account_form input
{
  display: block; 
}

.account_form title
{
  column-span: all;  
}

.title {
  font-size: 117%;
  font-weight: bold;}

/* ------------------------------------------------------- Classmates page ------------------------------------------------------*/

h1 table
{
  position: relative;
  top: -200px;
  left: 400px;
}

td+img
{
  padding: 0px, 30px, 30px, 0px;
}

td .username
{
 display: block;
}

/* -------------------------------------------------------- Seating page --------------------------------------------------*/

svg
{
  display: block;
  background-color: var(--main-dark-colorO2);
  border-radius:5px;
  margin-left:auto; 
  margin-right:auto;
  position: relative;
  top: 150px;
}

svg:hover
{
  background-color: var(--main-dark-colorO1); 
}


/* ------------------------------------------------------------- Assignment page --------------------------------------------------*/

.rubric_score
{
  text-align: left;
  text-align:center; 
  margin-left: 100px; 
  
}

.assignment_title
{
  display: block;
  color: var(--main-white-color);
  background-color: var(--main-dark-colorO2);
  padding: 15px;
  margin: 25px 100px 25px 100px;
  border-radius:5px;
  font-family: var(--main-font2);
  
}

.assignment_title:hover
{
 background-color: var(--main-dark-colorO1);
}

.assignment_prompt, assignment_form>p
{
  display: block;
  color: var(--main-white-color);
  background-color: var(--main-dark-colorO2);
  padding: 15px;
  margin: 25px 100px 25px 100px;
  border-radius:5px;
  font-family: var(--main-font2);
  
}

.assignment_prompt:hover, .assinment_form>p:hover
{
 background-color: var(--main-dark-colorO1);
}

[class="assignment_form"]
{
  margin: 0px 100px 0px 100px;
}


/* -------------------------------------------------------- Grade peers page ---------------------------------------------------*/
.grade_form
{
 color: var(--main-white-color);
}

[class="graded-assignment"]>a:link {
  color: var(--main-white-color);
}

/* visited link */
[class="graded-assignment"]>a:visited {
  color: var(--main-white-color);
}

/* mouse over link */
[class="graded-assignment"]>a:hover {
  color: var(--main-purple-color);
}

/* selected link */
[class="graded-assignment"]>a:active {
  color: var(--main-light-blue);
}

