body {
  background: url(nightsky.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

img.person_image {
  height: 200px;
  width: 150px;}

div[class*="day-box COMPLETED"] {
  background-color: teal;}

* {
  border: 20px black;
  padding: 20px;
  margin: 20px;}

div[class*="day-box"] {
  border: 5px solid #FFF8DC;
  padding: 5px;
  border-radius:5px;}
