body 
{
  background-image: url("galaxyimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center;
}

img.person_image 
{
  margin-top: 100px
  height: 200px;
  width: 150px;
}

[class*="day-box COMPLETED"] 
{
  background-color: lightskyblue;
  opacity: 0.75;
  padding: 5px;
  margin: 20px;
  border-radius:5px;
}

[class*="day-box PREP"] 
{
  background-color: #E7D7EE;
  opacity: 0.75;
  padding: 5px;
  margin: 20px;
  border-radius:5px;
}

h1, h2, h3, h4, h5, h6, table, p, [class="assignment-prompt"]
{
 color: #3D0077;
 background-color: azure; 
 opacity: 0.75;
}

[class*="day-box CURRENT"] {
  border: 5px solid azure;
  padding: 5px;
  margin: 20px;
  border-radius:5px;
  background-color: azure;
  opacity: 0.75;}

[class="nav"] {
  text-align: center;
  background-color: rgb(83, 146, 204);
  position: fixed;
  top: 5px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  z-index:1000;
  opacity: 0.80;
}

href:link {
  color: azure;
}

/* visited link */
href:visited {
  color: darkslateblue;
}

/* mouse over link */
href:hover {
  color: #7339F2;
}

/* selected link */
href:active {
  color: cyan;
}
