
body 
{
  background-image: url("galaxyimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--main-dark-color);
  height: 500px; /* You must set a specified height */
  background-position: center;
  color: white;
  font-size: 125%;
  margin: 40px;
}
